@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


@media (prefers-color-scheme: dark) {
  body, .callout, .cm-strong {
    --text-normal: 	oklch(0.93 0.01 260);
    --text-muted: oklch(0.80 0.020 260);
    --text-accent: oklch(0.94 0.028 140);
    --bold-color: oklch(0.96 0.015 260);
    --bold-modifier: 400;
    --text-highlight-bg: oklch(0.78 0.25 30 / 30%);
    --text-accent: #ff9800;
    /* --text-accent: #f6cba2; */
    --text-accent-hover: #ff5722;
    --inline-title-color: oklch(0.96 0.015 260);
    
    --background-primary: oklch(0.20 0.015 230);
    --background-secondary: oklch(0.16 0.015 230);
    --ribbon-background: oklch(0.16 0.015 230);
    --titlebar-background-focused: oklch(0.16 0.015 230);
    --dropdown-background: oklch(0.78 0.25 30 / 30%);

    /* Callouts r, g, b */
    --callout-caution: 255, 199, 102;
    --callout-warning: 255, 131, 99;
    --callout-important: 195, 160, 255;
    --callout-color: 108, 181, 255;
    --callout-tip: 116, 218, 92;

    /* Code */
    --code-background: oklch(0.16 0.015 230);
    --code-normal: oklch(0.92 0.015 230);
    --code-keyword: oklch(0.75 0.180 285);
    --code-comment: oklch(0.60 0.020 230);
    --code-property: oklch(0.70 0.140 200);
    --code-operator: oklch(0.85 0.060 80);
    --code-value: oklch(0.80 0.190 140);

    --blockquote-background-color: oklch(0.16 0.015 230);
  }


  code, .token, span.cm-inline-code {
    --code-function: oklch(0.70 0.140 200);
    --code-normal: oklch(0.70 0.140 200);
    --code-punctuation: oklch(0.92 0.015 230);
    --code-property: oklch(0.70 0.140 200);
    --code-operator: oklch(0.85 0.060 80);
    --code-comment: oklch(0.60 0.020 230);
    --code-value: oklch(0.80 0.190 140);
  }

}

body {
  /* Body */
  --font-text: "Merriweather", serif;

  /* H1 */
  --h1-weight: 100;
  --h1-size: 2em;
  --h1-style: italic;
  --h1-font: "Playfair Display", serif;

  /* H2 */
  --h2-weight: 100;
  --h2-size: 1.8em;
  --h2-style: italic;
  --h2-font: "Playfair Display", serif;

  /* H3 */
  --h3-weight: 100;
  --h3-size: 1.7em;
  --h3-style: italic;
  --h3-font: "Playfair Display", serif;

  /* H4 */
  --h4-weight: 100;
  --h4-size: 1.5em;
  --h4-font: "Playfair Display", serif;

  /* H5 */
  --h5-weight: 100;
  --h5-size: 1.25em;
  --h5-font: "Playfair Display", serif;

  /* H6 */
  --h6-weight: 100;
  --h6-size: 1em;
  --h6-font: "Playfair Display", serif;

  /* Code */
  --font-monospace: "IBM Plex Mono", monospace;
  --code-size: 0.9em;

  --font-interface: "Inter", sans-serif;
}

/* Title of the file */
.inline-title {
  font-size: 2.5em !important;
  text-align: center;
  font-weight: 400 !important;
  font-style: italic !important;
}

/* Mathematics */
.markdown-preview-view .math {
  font-size: 20px !important;
}

.nav-folder-title {
  font-size: 14px;
  font-weight: 600;
}

.nav-file-title {
  font-size: 12px;
  font-weight: 400;
}

.view-header-title {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
}